@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

/* Header do site */
header{
    background-image: url('../images/bg.jpg');
    min-height: 450px;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.logo{
    position: relative;
    z-index: 2;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
    float: left;
    width: 132px;
    height: 20px;
}

nav.desktop{
    float: right;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    margin: 0 15px;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.mobile h3{
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    z-index: 2;
}

nav li.btn-nav{
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 15px;
    text-transform: uppercase;
}

nav.mobile{display: none;float: right;}

nav.mobile ul{
    display: none;
    background-color: #31475e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 70px 0 30px 0;
    /* list-style-type:none; */
    text-align: center;
}

nav.mobile li{
    padding: 10px 0;
}

nav.mobile li.btn-nav{
    display: inline-block;
    padding: 4px 10px;
}

nav.mobile a{
    color: #fff;
    text-decoration: none;
    display: block;
}

section.chamada-header{
    margin: 120px 0;
}

section.chamada-header h2{
    font-size: 47px;
    color: white;
    font-weight: normal;
}

section.chamada-header p{
    font-size: 17px;
    color: white;
    margin-top: 20px;
    max-width: 600px;
}

section.chamada-header form{margin-top: 20px;}

section.chamada-header input[type=email]{
    display: inline-block;
    border-radius: 20px;
    border: 0;
    height: 35px;
    width: 237px;
    padding:0 7px 0 15px;
}

section.chamada-header input[type=submit]{
    display: inline-block;
    border-radius: 20px;
    border: 0;
    height: 35px;
    width: 181px;
    background-color: #ff5f27;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

section.chamada-header input[type=submit]:hover{
    transform: scale(1.04);
    background-color: #f3622d;
}

/* SESSÃO DA DESCRIÇÃO */
.descricao-danki{
    text-align: center;
    padding: 30px 0;
}

.descricao-danki p{
    display: inline-block;
    max-width: 680px;
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
}

.repudiandae b{
    color: black;
}

/* SESSÃO DA SEGUNDA DESCRIÇÃO */
section.descricao-danki2{
    padding: 50px 0;
}

section.descricao-danki2 > .container{
    max-width: 960px;
}

.texto-descricao{
    padding: 0 15px;
    float: left;
    width: 55%;
}

.texto-descricao h3{
    color: #31475e;
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.texto-descricao p{
    margin-top: 15px;
    color: #6a7c92;
    font-size: 15px;
    line-height: 25px;
}

section.descricao-danki2 img{
    float: left;
    width: 45%;
    max-width: 500px;
}

/* SESSÃO DA SEGUNDA DESCRIÇÃO */
section.descricao-danki3{
    padding: 30px 0;
}

section.descricao-danki3 > .container{
    max-width: 960px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    min-height: 350px;
    position: relative;
}

.box-depoimento{
    position: absolute;
    right: 60px;
    bottom: -60px;
    background-color: #fff;
    padding: 40px;
    max-width: 506px;
    box-shadow: 0px 0px 15px -7px #000000;
    line-height: 22px;
}

.box-depoimento p:nth-of-type(1){
    font-size: 16px;
    color: rgb(78, 78, 78);
    font-weight: lighter;
}

/* SESSÃO DOS SERVIÇOS */
section.servicos{
    padding: 85px 0 15px 0;
}

section.servicos > .container{max-width: 1000px;}

.title-servicos{
    text-align: center;
}

.title-servicos h3{
    color: #31475e;
    font-size: 22px;
    font-weight: normal;
}

.title-servicos i{
    margin-bottom: 25px;
}

.flex-servicos{
    display: flex;
    flex-wrap: no-wrap;
}

.box-servico{
    margin: 10px;
    background-color: #fff;
    width: 33.3%;
    box-shadow: 0px 8px 20px 7px rgb(224,224,224,0.5);
    border-radius: 3px;
}

.box-servico img{
    width: 100%;
}

.box-servico-wraper{
    padding: 20px;
}

.box-servico-wraper h2{
    color: #31475e;
    font-size: 20px;
    font-weight: normal;
}

.box-servico-wraper p{
    margin: 14px 0;
    line-height: 1.5;
    color: #6a7c92;
    font-size: 15px;
    font-weight: lighter;
}

.box-servico-wraper a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #6a7c92;
    color: #6a7c92;
    padding: 8px 14px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
}

/* SESSÃO DO PORTIFOLIO */
section.portifolio{
    padding: 20px 0;
    background-color: #fff;
}

section.portifolio > .container{
    max-width: 960px;
    padding: 35px 0 15px 0;
    background-color: #f7f7f7;
}

section.portifolio h2{
    text-align: center;
    font-weight: normal;
    color: #31475e;
}

.empresas{
    padding: 0 10px;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.empresa-single{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-style: solid;
    border-color: #ececec;
    border-width: 1px 0 1px 1px;
    padding: 20px 0;
}

.empresas .empresa-single:last-child{
    border: 1px solid #ececec;
}

/* SESSÃO DO FORMULÁRIO */
section.formulario{
    padding: 30px 0;
}

section.formulario > .container{
    max-width: 960px;
}

.formulario h2{
    text-align: center;
    font-weight: normal;
    color: #31475e;
}

section.formulario form{
    margin-top: 10px;
}

section.formulario form input[type=text]{
    width: 100%;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #ebebeb;
    margin-top: 15px;
    padding-left: 15px;
}

section.formulario form textarea{
    width: 100%;
    height: 120px;
    resize: vertical;
    border: 1px solid #ebebeb;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
}

section.formulario form input[type=submit]{
    width: 179px;
    height: 58px;
    border-radius: 100px;
    background-color: #ff5f27;
    box-shadow: 0px 8px 20px 7px rgb(224,224,224,0.5);
    border: 0;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 25px;
    transition: 0.5s;
}

section.formulario form input[type=submit]:hover{
    transform: scale(1.04);
    background-color: #f3622d;
}














@media screen and (max-width: 1024px){
    nav.desktop{display: none;}
    nav.mobile{display: block;}

    section.chamada-header{
        text-align: center;
    }
    section.chamada-header input[type=email]{
        margin-bottom: 10px;
    }
    section.chamada-header p{display: inline-block;}

    .box-depoimento{
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        transform: translate(-50%,-50%);
        width: 80%;
    }

    section.servicos{
        padding: 45px 0 35px 0;
    }
    
}

@media screen and (max-width: 768px){
    .texto-descricao{width: 100%;display: block; float: none;}
    section.descricao-danki2 img{
        display: block;
        margin: 0 auto;
        width: 100%;
        float: none;
        max-width: 500px;
        margin-top: 10px;
    }

    .flex-servicos{
        flex-wrap:wrap;
    }

    .box-servico{
        margin: 10px auto;
        width: 100%;
        max-width: 400px;
    }

    .empresa-single{
        width: 100%;
        max-width: 640px;
        margin: 15px auto;
        border: 1px solid #ececec;
    }
}