@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

/* Header do site */
header{
    background-image: url('../images/bg.jpg');
    min-height: 450px;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.logo{
    position: relative;
    z-index: 2;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
    float: left;
    width: 132px;
    height: 20px;
}

nav.desktop{
    float: right;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    margin: 0 15px;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.mobile h3{
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    z-index: 2;
}

nav li.btn-nav{
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 15px;
    text-transform: uppercase;
}

nav.mobile{display: none;float: right;}

nav.mobile ul{
    display: none;
    background-color: #31475e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 70px 0 30px 0;
    /* list-style-type:none; */
    text-align: center;
}

nav.mobile li{
    padding: 10px 0;
}

nav.mobile li.btn-nav{
    display: inline-block;
    padding: 4px 10px;
}

nav.mobile a{
    color: #fff;
    text-decoration: none;
    display: block;
}

section.chamada-header{
    margin: 120px 0;
}

section.chamada-header h2{
    font-size: 47px;
    color: white;
    font-weight: normal;
}

section.chamada-header p{
    font-size: 17px;
    color: white;
    margin-top: 20px;
    max-width: 600px;
}

section.chamada-header form{margin-top: 20px;}

section.chamada-header input[type=email]{
    display: inline-block;
    border-radius: 20px;
    border: 0;
    height: 35px;
    width: 237px;
    padding:0 7px 0 15px;
}

section.chamada-header input[type=submit]{
    display: inline-block;
    border-radius: 20px;
    border: 0;
    height: 35px;
    width: 181px;
    background-color: #ff5f27;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

section.chamada-header input[type=submit]:hover{
    transform: scale(1.04);
    background-color: #f3622d;
}

/* SESSÃO DA DESCRIÇÃO */
.descricao-danki{
    text-align: center;
    padding: 30px 0;
}

.descricao-danki p{
    display: inline-block;
    max-width: 680px;
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
}

.repudiandae b{
    color: black;
}

/* SESSÃO DA SEGUNDA DESCRIÇÃO */
section.descricao-danki2{
    padding: 50px 0;
}

section.descricao-danki2 > .container{
    max-width: 960px;
}

.texto-descricao{
    padding: 0 15px;
    float: left;
    width: 55%;
}

.texto-descricao h3{
    color: #31475e;
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.texto-descricao p{
    margin-top: 15px;
    color: #6a7c92;
    font-size: 15px;
    line-height: 25px;
}

section.descricao-danki2 img{
    float: left;
    width: 45%;
    max-width: 500px;
}



@media screen and (max-width: 1024px){
    nav.desktop{display: none;}
    nav.mobile{display: block;}

    section.chamada-header{
        text-align: center;
    }
    section.chamada-header input[type=email]{
        margin-bottom: 10px;
    }
    section.chamada-header p{display: inline-block;}
}

@media screen and (max-width: 768px){
    .texto-descricao{width: 100%;display: block; float: none;}
    section.descricao-danki2 img{
        display: block;
        margin: 0 auto;
        width: 100%;
        float: none;
        max-width: 500px;
        margin-top: 10px;
    }
}